<div class="bg-argomento-container">
   <section class="mb-0" id="intro-argomenti">
      <div class="bg-argomento img-fit-cover ng-star-inserted"><img src="{{ site.img }}" alt="pagina immagine"></div>
      <!---->
      <div class="container box-argomento">
         <div class="row">
            <div class="col-lg-6">
               <!---->
               <div class="titolosezione mt-3">
                  <h3>
                     {{ page.title }} <!---->
                  </h3>
                  <p>{{ site.title }}</p>
               </div>
            </div>
            <div class="col-lg-6 ng-star-inserted">
               <span>Questa pagina è gestita da: </span>
               <div class="ng-star-inserted">
                  <article class="scheda-ufficio-contatti rounded card-teaser-info">
                     <svg aria-label="icona" class="icon icon-primary">
                        <use xlink:href="/sprites.svg#it-pa"></use>
                     </svg>
                     <span class="scheda-ufficio-testo ms-2">
                        <a title="Ufficio di Gabriel Jones" href="/desk/uffici/gabrieljones/" class="ng-star-inserted">Ufficio di Gabriel Jones</a><!----><!---->
                     </span>
                  </article>
               </div>
               <!---->
            </div>
            <!---->
         </div>
      </div>
   </section>
</div>