<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ site.url }}/asset/pvw2/css/bootstrap-italia.min.css">
<link rel="stylesheet" href="{{ site.url }}/asset/pvw2/css/font-awesome.css">
<link rel="stylesheet" href="{{ site.url }}/asset/pvw2/css/xfonts.css">
<link rel="stylesheet" href="{{ site.url }}/asset/pvw2/css/common.css">
<link rel="stylesheet" href="{{ site.url }}/asset/pvw2/css/spid.css">
<link rel="stylesheet" href="{{ site.url }}/asset/commons/lib/jsx/jQuery/plugins/realperson/jquery.realperson.css">
<link rel="stylesheet" href="{{ site.url }}/asset/template.css">

<style>

button svg.icon {
    fill: black !important;
}



body
{
font-family: 'Titillium Web';
background-color: #FFFFFF;
}



a, a:hover
{
color: #0000EE;
}

.form-check [type="checkbox"]:checked + label::after
{
border-color: #333;
background-color: #333;
color: #fff;
}

.login_bg
{
background-color: #FFFFFF;
}

.login_text, .login_text:hover
{
color: #3941A0;
}

.logo_bg
{
background-color: #FFFFFF;
}

.logo_text, .logo_text:hover
{
color: #000000;
}

.menu_bg
{
background-color: #FFFFFF;
}

.menu_text, .menu_text:hover
{
color: #000000;
}

.footer_bg
{
background-color: #F5F5F5;
}

.footer_text, .footer_text:hover
{
color: #000000;
}

.primario_text, .primario_text:hover
{
color: #3941A0;
}

.secondario_text, .secondario_text:hover
{
color: #333333;
}


/*===================================================*/
/* Personalizzazione Sfondo Testata / Menù / Footer */
/*=================================================*/

.it-header-wrapper .it-header-slim-wrapper {
background: #FFFFFF;
}

.it-header-slim-wrapper .it-header-slim-wrapper-content a {
color: #3941A0;
}

.it-header-slim-wrapper .it-header-slim-wrapper-content .modal a {
color: #0000EE;
}

.it-header-slim-wrapper .it-header-slim-wrapper-content a .icon {
fill: #3941A0;
}

.it-header-wrapper .it-header-center-wrapper {
background-color: #FFFFFF!important;
}

.it-header-center-wrapper .it-header-center-content-wrapper .it-brand-wrapper a {
color: #000000;
}

.it-header-wrapper .it-header-navbar-wrapper {
background: #FFFFFF;
}

.navbar .navbar-collapsable .navbar-nav li a.nav-link {
color: #000000;
}

.navbar .navbar-collapsable .navbar-nav li a.nav-link.dropdown-toggle svg {
fill: #000000;
}

.it-header-wrapper .it-header-navbar-wrapper .custom-navbar-toggler svg
{
fill: #3941A0;
}



/*==========================================*/
/* Sezione Footer */
/*==========================================*/

.it-footer .it-footer-main {
background-color: #F5F5F5;
}

.it-footer-main
{
font-family: "Titillium Web"!important;
color: #000000;
}

.it-footer-main h3{
color: #000000;
}

.it-footer-main a{
color: #000000;
}


/*==========================================*/
/* Login / Social */
/*==========================================*/

.it-header-slim-wrapper .it-header-slim-wrapper-content .header-slim-right-zone .it-access-top-wrapper button {
background: #FFFFFF;
color: #000000;
}

.it-header-slim-wrapper .it-header-slim-wrapper-content .header-slim-right-zone .it-access-top-wrapper input {
background: #FFFFFF;
color: #000000;
}

.it-header-slim-wrapper .it-header-slim-wrapper-content .header-slim-right-zone .it-access-top-wrapper button:hover {
background: #FFFFFF;
}

.it-header-slim-wrapper .it-header-slim-wrapper-content .header-slim-right-zone .link-list-wrapper ul li a span {
color: #333;
}

.it-nav-wrapper .it-header-center-wrapper .it-header-center-content-wrapper .it-right-zone {
color: #000000;
}

.it-nav-wrapper .it-header-center-wrapper .it-header-center-content-wrapper .it-right-zone .it-socials ul .icon {
fill: #000000;
}

.it-nav-wrapper .it-header-center-wrapper .it-header-center-content-wrapper .it-right-zone .it-socials ul li a:hover .icon {
fill: #FFFFFF;
}

img.avatar-profile {
border: 2px solid #FFFFFF;
}

/*==========================================*/
/* Login Modal Form */
/*==========================================*/

.modal-dialog .modal-content .md-form label.active {
color: #FFFFFF;
}

.modal-dialog .modal-content .btn.color-box {
color: #3941A0;
}

.modal-dialog .modal-content .color-box {
background: #FFFFFF!important;
}

.modal-dialog .modal-content .btn .fab {
color: #FFFFFF!important;
}


/*==========================================*/
/* Logo - Intestazione*/
/*==========================================*/
.it-brand-wrapper .testo_t1, .it-brand-wrapper .testo_t2, .it-brand-wrapper .testo_t3
{
font-family: 'Titillium Web';
color: #000000;
}


/*==========================================*/
/* Menu di navigazione*/
/*==========================================*/

.it-header-navbar-wrapper .link-list-wrapper ul li a span {
color: #333333!important;
}

.it-header-navbar-wrapper .link-list-wrapper ul li a:hover span {
color: #333333!important;
}

.it-header-wrapper .it-nav-wrapper .it-header-navbar-wrapper.sticky
{
background-color: #FFFFFF;
}

.navbar .dropdown-menu
{
background-color: #F5F5F5;
}

.navbar .dropdown-menu::before {
background-color: #F5F5F5;
}


/*==========================================*/
/* Sezione News */
/*==========================================*/

.sezione-notizie .card .card-body h3.card-title {
color: #3941A0;
}

.sezione-notizie a.read-more {
color: #333333;
}

.sezione-notizie .card .card-body h3 a {
color: #3941A0;
}

.sezione-notizie .card .card-body h3 a:hover {
color: #3941A0;
}

.sezione-notizie .card .card-body p {
font-family: "Titillium Web";
}

.sezione-notizie .card .card-body p {
color: #333333;
}

.sezione-notizie .card:hover
{
outline: 3px solid #0000EE;
}


/*==========================================*/
/* Sezione news a scorrimento */
/*==========================================*/

.sezione-scorrimento .card .card-body h3 a
{
color: #3941A0;
}


/*==========================================*/
/* Widgets */
/*==========================================*/

#amministrativo .sezione-ammin:hover
{
outline: 3px solid #0000EE;
}

.sezione-widgets .widget:hover, .sezione-widgets .widget-servizi:hover
{
outline: 3px solid #0000EE;
}


/*==========================================*/
/* Eventi */
/*==========================================*/

.planning-calendar {
font-family: "Titillium Web";
}

.planning-day-listed:focus {
background-color: #FFFFFF;
}

.planning-day.planning-day-today {
background-color: #FFFFFF;
}

.latest-news-feed .latest-news-feed-header{
background-color: #FFFFFF;
color: #3941A0;
}

.latest-news-feed .latest-news-feed-body h3 a,
.latest-news-feed .latest-news-feed-body h3 a:hover{
color: #3941A0;
font-family: "Titillium Web";
}

.planning-day.planning-day-today .planning-day-num
{
color: #000000;
}

.planning-day.planning-day-listed.focus--mouse .planning-day-num
{
color: #000000;
}

.planning-day.planning-day-listed:focus .planning-day-num
{
color: #000000;
}

/*==========================================*/
/* Back to top */
/*==========================================*/

.back-to-top, .back-to-top:hover {
background: #FFFFFF;
}

.icon-light {
fill: #000000 !important;
}

/*==========================================*/
/* Breadcrumb & Bottone Scarica Visualizza */
/*==========================================*/

.breadcrumb-container .breadcrumb .breadcrumb-item.active a {
color: #3941A0;
}

.breadcrumb-container .breadcrumb .breadcrumb-item a {
color: #333;
}


.btn-warning {
color: #fff!important;
background-color: #FFFFFF;
border-color: #FFFFFF;
}

.btn-warning:hover {
color: #fff!important;
background-color: #3f3e3e;
border-color: #3f3e3e;
}

/*==========================================*/
/* Pagina Semplice */
/*==========================================*/

.contenuto-sito h1
{
color: #3941A0;
}

.contenuto-sito p a {
color: #0000EE;
}

/*==========================================*/
/* Gruppo di Pagine */
/*==========================================*/

.contenuto-sito .section-gruppo-pagina .content-index--menu ul.lv1 li.list-element.lv1>.media {
background-color: #FFFFFF;
color: #3941A0!important;
border-bottom: 0px;
}

.contenuto-sito .section-gruppo-pagina .content-index--menu ul.lv1 li.list-element.lv1>.media a {
color: #3941A0!important;
border-bottom: 0px;
}


/*==========================================*/
/* Panoramica */
/*==========================================*/

.contenuto-sito.contenuto-panoramica .section_title
{
background: #FFFFFF;
}

.contenuto-sito.contenuto-panoramica h1, .contenuto-sito.contenuto-panoramica p
{
color: #000000;
}


/*==========================================*/
/* Schede / Servizi */
/*==========================================*/

.contenuto-schede-index .section_title
{
background: #FFFFFF;
}

.contenuto-schede-index .section_title h1, .contenuto-schede-index .section_title p
{
color: #000000;
}


/*==========================================*/
/* News */
/*==========================================*/
.contenuto-sito .pagina .card.card-big .flag-icon{
background: #FFFFFF;
}

.contenuto-sito .pagina .card.border-left-card {
border-left: 5px solid #FFFFFF;
}

.contenuto-sito .pagina .card.card-big .card-body p{
font-family: "Titillium Web",Geneva,Tahoma,sans-serif;
}


/*==========================================*/
/* Amministrazione / Albo */
/*==========================================*/

.amministrazione-trasparente .indice .categorie li.categorie-item.titolo_trasparenza {
background-color: #FFFFFF!important;
}

.amministrazione-trasparente .indice .categorie li.categorie-item.titolo_trasparenza label{
color: #3941A0!important;
}

.amministrazione-trasparente .indice .categorie li.categorie-item.oggetto_trasparenza a{
color: #3941A0;
}

.badge-light{
color: #3941A0;
background-color: #FFFFFF;
}

/* Colonna DX*/

.amministrazione-trasparente .trasparenza-content .tabella-ricerca .search-table2 button{
border: 1px solid #ddd;
background: #fff;
}

.amministrazione-trasparente .trasparenza-content #box-search {
border: 1px solid #ddd;
background: #fff;
}

.amministrazione-trasparente .trasparenza-content #box-categoria {
border: 1px solid #ddd;
background: #fff;
}

.amministrazione-trasparente .trasparenza-content #box-search .form_sez_trasparenza {
color: #767676!important;
}

.amministrazione-trasparente .trasparenza-content #box-categoria .select_trasparenza {
color: #333333;
}


/*==========================================*/
/* Pagina Speciale 1 */
/*==========================================*/

.tabella-standard #testata-tabella, .tabella-standard2 #testata-tabella
{
background:#FFFFFF;
color:#3941A0;
}

table .odd{
background:#f9f9f9;
}
table .even{
background:#eee;
}

.tabella #testata-tabella{
background:#FFFFFF;
color:white;
}

.tabella td, .tabella th{
border: 1px solid #fff;
}

span.orari-precise {
color: #333;
}

span.docente-attivo {
color: #333;
}

#serbatoio-pon #testata-serbatoio {
background:#FFFFFF;
color:white;
}

#serbatoio-pon td, #serbatoio-pon th{
border: 1px solid #ccc;
}

/*==========================================*/
/* Pagina Speciale 2: Galleria Video; */
/*==========================================*/

.contenuto-sito .boxvideo {
background-color: #eee;
}

.contenuto-sito .box-video{
background: #fff;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.video-card-slide .it-video-card-slide {
border: 1px solid #e3e4e6;
}

.video-card-slide .it-video-card-slide .owl-nav button{
background-color: #FFFFFF;
color: #fff;
}

.video-card-slide .it-video-card-slide .owl-dots .owl-dot {
background: #FFFFFF;
}

/*==========================================*/
/* Pagina Speciale 3: Contatti */
/*==========================================*/

.sezione-contatti {
border: 1px solid #e3e3e3;
background-color: #f5f5f5;
}

.sezione-contatti .contact-dati .unico-info p{
color: #3941A0;
}

.sezione-contatti .contact-dati .unico-info a{
color: #000;
}

.sezione-contatti .card:after {
background-color: #fff;
}

.sezione-contatti .title-contact h3 {
color: #3941A0;
}

.sezione-contatti .form-group .input-group-text {
color: #495057;
background-color: #e9ecef;
border: 1px solid #ced4da;
border-radius: .25rem;
}

.sezione-contatti .form-group .input-group input {
border-top: 1px solid #f5f5f5;
}

.sezione-contatti .card-body .send-button .btn-rounded {
color: #333333;
background-color: #FFFFFF;
}

/* ---------------------------*/

.sezione-informazione-scuola {
border: 1px solid #e3e3e3;
background-color: #f5f5f5;
}

.sezione-informazione-scuola #tabelle-orari {
background-color: #fff;
}

.sezione-informazione-scuola #tabelle-orari td {
border: 1px solid#ccc;
}

.sezione-informazione-scuola .nota-bene a {
color: #3941A0;
}


/*==========================================*/
/* Varie */
/*==========================================*/

.rssmaintitle
{
background-color: #FFFFFF;
color: #3941A0;
}

.rsstitle
{
color: #3941A0;
}

.rsstext
{
color: #333333;
}

:focus:not(.focus--mouse):not([data-focus-mouse="true"]) {
border-color: #0000EE !important;
box-shadow: 0 0 0 2px #0000EE !important;
outline: 0 !important;
}


/*==========================================*/
/* MEDIA QUERIES */
/*==========================================*/

@media (max-width: 1200px) and (min-width: 992px){

}

@media (max-width: 991px) and (min-width: 768px){
.it-header-wrapper .it-header-navbar-wrapper {
background: none;
color: #3941A0;
}

img.avatar-profile {
border: 2px solid #FFFFFF;
}

.navbar .navbar-collapsable .menu-wrapper {
background-color: #FFFFFF;
}

.navbar .navbar-collapsable .navbar-nav li a.nav-link {
color: #000000;
}

.it-header-navbar-wrapper .link-list-wrapper ul li h3 {
color: #000000;
}

.navbar .navbar-collapsable .navbar-nav li a.nav-link.dropdown-toggle svg {
fill: #000000;
}

.it-header-navbar-wrapper .link-list-wrapper ul li a span {
color: #333333!important;
}

.it-header-navbar-wrapper .link-list-wrapper ul li a:hover span {
color: #333333!important;
}

.amministrazione-trasparente .trasparenza-content #box-categoria .select_trasparenza {
color: #333333;
}
}

@media (max-width: 767px) and (min-width: 408px){
}

@media (max-width: 767px){
.it-header-wrapper .it-header-navbar-wrapper {
background: none;
color: #3941A0;
}

img.avatar-profile {
border: 2px solid #FFFFFF;
}

.navbar .navbar-collapsable .menu-wrapper {
background-color: #FFFFFF;
}

.navbar .navbar-collapsable .navbar-nav li a.nav-link {
color: #000000;
}


.it-header-navbar-wrapper .link-list-wrapper ul li h3 {
color: #000000;
}

.navbar .navbar-collapsable .navbar-nav li a.nav-link.dropdown-toggle svg {
fill: #000000;
}

.it-header-navbar-wrapper .link-list-wrapper ul li a span {
color: #333333!important;
}

.it-header-navbar-wrapper .link-list-wrapper ul li a:hover span {
color: #333333!important;
}

.video-card-slide .it-video-card-slide {
border: 1px solid #e3e4e6;
}
}
</style>




<link rel="stylesheet" href="{{ site.url }}/asset/pvw2/css/schoolplanner.css" media="screen">
<link rel="stylesheet" href="{{ site.url }}/asset/pvw2/css/fullcalendar.css" media="screen">
<link rel="stylesheet" href="{{ site.url }}/asset/pvw2/css/aos.css" media="screen">
<link rel="stylesheet" href="{{ site.url }}/asset/pvw2/css/vendor/splide-core.min.css" media="screen">


<style>
.latest-news-feed .latest-news-feed-body h3 {
font-size: 20px;
}

.navbar .navbar-collapsable .navbar-nav li a.nav-link {
font-size: 1.1rem;
}
.link-list-wrapper ul li a {
font-size: 1em;
}
.planning-day-indicator {
background-color: #f8d012;
}
</style>
